#clockcontainer  {
    position: relative;
    
    height:40vw;
    width:40vw;
    background: url(png-transparent-social-media-marketing-time-management-clock-clock-without-hands-angle-content-marketing-time.png) no-repeat;
    background-size: 100%;
    margin:auto;
}

#curr  {
    border:4px solid blue;
    background-color: palevioletred;
    padding:0px 3px;
    width:238px;
    height:55px;
    margin:auto;
    border-radius: 10px;
}

#hour, #minute, #second  {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {

width:1.8%;
height:25%;
top:25%;
left:48.8%;
opacity: 0.8;

}  

#minute  {
  
    width:1.6%;
    height:30%;
    top:19%;
    left:48.8%;
    opacity:0.8;
    
}

#second  {
 
 width: 1%;
 height:40%;
 top:9%;
 left:49.5%;
 opacity:0.8;

    
}